body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    /* height: 100vh; */
    /* max-width: 100vw; */
}

/* landing css */
.ekit-banner{
    height: 380px;   
    overflow: hidden;
    position: relative;
}
.ekit-banner .sbi-heading{
    font-size: 20px;
}
.ekit-banner img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.ekit-banner *{
    color: #fff;
}
.ekit-first-section{
    padding: 40px 0;
    overflow: hidden;
}
.ekit-second-section{
    padding: 40px 0;
    overflow: hidden;
}
.ekit-card{
    text-align: center;
}
.ekit-card img{
    width: 100%;
    max-width: 280px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}
.ekit-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
}
.ekit-card .sbi-button{
    /* width: 280px; */
    /* max-width: 100%; */
    /* min-width: unset; */
}
.ekit-landing-main,.ekit-landing-main *{
    box-sizing: border-box;
}
.ekit-landing-main .divider{
    margin: 0;
    background-color: #d5d5e8;
}

@media only screen and (max-width: 767px){
    .ekit-banner-heading{
        margin-bottom: 20px;
    }
    .ekit-card{
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    .ekit-card:not(:last-child)::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        width: 100vw;
        background-color: #f2f2fd;
        height: 1px;
    }
    .ekit-landing-main .divider{
        display: none;
    }
    .ekit-banner.flex-ac{
        min-height: 428px;
        align-items: flex-end;text-align: center;
        padding-bottom: 40px;
    }
/* 
    .ekit-first-section{
        padding-top: 60px;
    } */
    .ekit-second-section{
        padding-top: 20px;
    }
}
@media only screen and (max-width: 575px){
    .ekit-card .sbi-button  {
        width: 100%;
    }
}